{% extends "layout.html" %}

{% block title %}
Searchy - About
{% endblock %}

{% block main %}

<h4>About WikiCards</h4>
<p>
  WikiCards is a Wikidata-powered, open-source, Gene-Cards-like portal develop by Tiago Lubiana as part of his PhD.
</p>
<p>The work was supported by the São Paulo Research Foundations grant <a href="
https://zenodo.org/record/4723818#.YaULRurMJhE"> 19/26284-1</a> and <a href="https://www.wisecube.ai/">Wisecube AI</a>.
</p <p> Questions, issues and comments can be communicated via the app's <a target="_blank"
  href="https://github.com/lubianat/wikicards">
  GitHub repository</a>.</p>
<h5> Related resources </h5>
WikiCards is inspired by the awesome <a href="https://www.genecards.org/">GeneCards</a>, check them out!

<div class="content has-text-centered">
  <h4>Credits</h4>
  <p>
    This content is available under a <a target="_blank" href="https://creativecommons.org/publicdomain/zero/1.0/">
      Creative Commons CC0</a> license as much as possible. </p>
  <p>Notice that copyrighteable information from external sources will retain their own licensing.</p>
</div>
{% endblock %}