SELECT
    
?cell ?cellLabel
(REPLACE(STR(?article), "https://en.wikipedia.org/wiki/", "") as ?en_wiki_label)

?Brenda_Tissue_Ontology_ID
?Cell_Ontology_ID
?MeSH_descriptor_ID

WHERE {

    VALUES ?cell { wd:{{target}} } .

    ?cell rdfs:label ?cellLabel . 
    FILTER ( LANG( ?cellLabel) = "en")


    ?cell skos:altLabel ?cellAltLabel_ . 
    FILTER ( LANG( ?cellAltLabel_) = "en")


    OPTIONAL{
    ?article schema:about ?cell .
    ?article schema:inLanguage "en" .
    FILTER (SUBSTR(str(?article), 1, 25) = "https://en.wikipedia.org/")

    }
# Item properties


# Quantity properties

# String properties
    

# IDs and their formatter URLs
    OPTIONAL { ?cell wdt:P5501 ?Brenda_Tissue_Ontology_ID . } .    
    OPTIONAL { ?cell wdt:P7963 ?Cell_Ontology_ID . } .   
    OPTIONAL { ?cell wdt:P486 ?MeSH_descriptor_ID . } .

}
