SELECT
?UniProt_protein_ID 
?protein ?proteinLabel ?protein_length ?protein_mass
(REPLACE(STR(?article), "https://en.wikipedia.org/wiki/", "") as ?en_wiki_label)
(GROUP_CONCAT(DISTINCT ?proteinAltLabel_; SEPARATOR=" | ") as ?proteinAltLabel)
(GROUP_CONCAT(DISTINCT ?RefSeq_protein_ID_; SEPARATOR=" | ") as ?RefSeq_protein_ID)
(GROUP_CONCAT(DISTINCT ?Ensembl_protein_ID_; SEPARATOR=" | ") as ?Ensembl_protein_ID)


(GROUP_CONCAT(DISTINCT ?PDB_structure_ID_; SEPARATOR=" | ") as ?PDB_structure_ID)
WHERE {

    VALUES ?protein { wd:{{protein_qid}}  } .    
    ?protein skos:altLabel ?proteinAltLabel_ . 
    FILTER ( LANG( ?proteinAltLabel_) = "en")


    OPTIONAL {
      ?protein wdt:P2043 ?protein_length . 
      ?protein wdt:P2067 ?protein_mass . 
    }
    OPTIONAL{
    ?article schema:about ?protein .
    ?article schema:inLanguage "en" .
    FILTER (SUBSTR(str(?article), 1, 25) = "https://en.wikipedia.org/")

    }

    OPTIONAL { ?protein wdt:P705 ?Ensembl_protein_ID_ . } .  
    OPTIONAL { ?protein wdt:P637 ?RefSeq_protein_ID_ . } .  

    OPTIONAL { ?protein wdt:P352 ?UniProt_protein_ID . } .  

    OPTIONAL { ?protein wdt:P638 ?PDB_structure_ID_ . }  
SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
   
}
GROUP BY ?UniProt_protein_ID 
?protein ?proteinLabel ?protein_length ?protein_mass
?en_wiki_label  ?article 
