<!-- SUMMARIES -->
<div class="container" id="summaries">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseSummaries" role="button" aria-expanded="false"
        aria-controls="collapseSummaries">
        <h2> Summaries for {{wikidata_result.diseaseLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapseSummaries">
      <div class="card-body">


        <h3>Wikipedia summary</h3>
        (<a href="https://en.wikipedia.org/wiki/{{wikidata_result.en_wiki_label
    }}" target="_blank">link</a>) <br>
        <img src="{{summaries.wikipedia.thumbnail.source}}" width="100">
        {{summaries.wikipedia.extract_html|safe}}

        <h3>Additional information</h3>
        {% for id, value in ids.items() %}
        {{value.name}}: <a href="{{value.url}}" target="_blank">{{value.symbol}} </a> <br>
        {% endfor %}
        <a href="https://scholia.toolforge.org/disease/{{ids.wikidata.symbol}}">Scholia Profile</a> <br>

        <p>Skipped summaries in relation to Mala Cards: <strong>ALL</strong>
        </p>
      </div>
    </div><!-- /.row -->
  </div>
</div>