<!-- ALIASES -->
<div class="container" id="aliases">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-info btn-sm btn-block mt-3" data-toggle="collapse" href="#collapseAliases" role="button"
        aria-expanded="false" aria-controls="collapseAliases">
        <h2> Aliases for {{wikidata_result.compoundLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapseAliases">

      <div class="card-body">
        <h3> Aliases</h3>

        <p>{{wikidata_result.compoundAltLabel}}</p>

        <h3> External IDs</h3>
        {% for id, value in ids.items() %}
        <p>{{value.name}}: <a href="{{value.url}}" target="_blank">{{value.symbol}} </a></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>