<!-- ALIASES -->
<div class="container" id="aliases">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-info btn-sm btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <h2> Aliases for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapseExample">

      <div class="card-body">
        <h3> Aliases</h3>

        <p>{{wikidata_result.geneAltLabel}}</p>

        <h3> External IDs</h3>
        {% for id, value in ids.items() %}
        <p>{{value.name}}: <a href="{{value.url}}" target="_blank">{{value.symbol}} </a></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>