<!-- DRUGS -->
<div class="container" id="drugs">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse_drugs" role="button" aria-expanded="false"
        aria-controls="collapse_drugs">
        <h2> Drugs and compounds for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapse_drugs">

      <div class="card-body">
        <p> Skipped sessions: <strong>ALL</strong></p>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>