<!-- expression -->
<div class="container" id="expression">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse_expression" role="button" aria-expanded="false"
        aria-controls="collapse_expression">
        <h2> Expression for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapse_expression">

      <div class="card-body">
        <p> Skipped sessions: <strong>ALL</strong></p>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>