<!-- expression -->
<div class="container" id="expression">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse_expression" role="button" aria-expanded="false"
        aria-controls="collapse_expression">
        <h2> Expression for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapse_expression">

      <div class="card-body">
        <h2>Gene Atlas Image</h2>
        <img src="{{wikidata_result.gene_atlas_image }}">
        See the <a target="_blank" href="https://www.wikidata.org/{{wikidata_result.gene}}">Wikidata</a> page for links
        to Wikimedia Commons and licensing details.
        <p> Skipped sessions: mRNA expression in normal human tissues from GTEx, Illumina, BioGPS, and SAGE for TP53
          Gene, mRNA expression in embryonic tissues and stem cells from LifeMap Discovery </p>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>