<!-- SUMMARIES -->
<div class="container" id="genomics">
  <div class="card">
    <div class="card-header">

      <a class="btn btn-info btn-sm btn-block mt-3" data-toggle="collapse" href="#collapseGenomics" role="button" aria-expanded="false"
        aria-controls="collapseGenomics">
        <h2> Genomics for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapseGenomics">
      <div class="card-body">
        <h3>Genomic locations (assembly GRCh38/hg38)</h3>
        Chromosome number: {{wikidata_result.chromosome_number}} <br>
        Cytogenetic location: {{wikidata_result.cytogenetic_location}} <br>
        Genomic start: {{wikidata_result.genomic_start}} | Genomic end:
        {{wikidata_result.genomic_end}} <br>
        Length: {{wikidata_result.genomic_length}} base pairs.

        <h3>Genomic view</h3>

        RefSeq DNA sequence:
        <a
          href="https://www.ncbi.nlm.nih.gov/nuccore/NC_0000{{wikidata_result.chromosome_number}}.11?strand=2&report=genbank&from={{wikidata_result.genomic_start}}&to={{wikidata_result.genomic_end}}">NC_0000{{wikidata_result.chromosome_number}}.11</a>
        <br>
        Genes around {{wikidata_result.geneLabel}} on UCSC Golden Path: <a
          href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={{wikidata_result.chromosome_number}}:{{wikidata_result.genomic_start}}-{{wikidata_result.genomic_end}}">GRCh38/hg38</a>
        <div class="small-ideogram">
          <!-- The ideogram goes here. -->
        </div>

        <script>
          var config = {
            container: '.small-ideogram',

            organism: 'human',
            chromosome: '{{wikidata_result.chromosome_number}}',
            chrHeight: 600,
            orientation: 'horizontal',
            annotations: [{
              name: '{{wikidata_result.geneLabel}}',
              chr: '{{wikidata_result.chromosome_number}}',
              start: {{ wikidata_result.genomic_start }},
              stop: {{wikidata_result.genomic_end}}
            }]
          };

          var ideogram2 = new Ideogram(config);
        </script>
        Rendered using <a href="https://eweitz.github.io/ideogram/">Ideogram.js</a>
        <br>
        <br>
        <p>Skipped information in relation to Gene Cards: GeneHancer promoters and enhancers </p>
        <p>Added information in relation to Gene Cards: </p>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>