<!-- FUNCTIONS -->
<div class="container" id="functions">
  <div class="card">
    <div class="card-header">
      <h2>Functions for {{wikidata_result.geneLabel}}</h2>
    </div>
    <div class="card-body">
      <h3>
        Molecular function for TP53 Gene according to UniProtKB/Swiss-Prot
      </h3>
      <a href="https://www.uniprot.org/uniprotkb/P04637/{protein_result.UniProt_protein_ID}}/entry#function"
        target=" _blank">{{protein_result.UniProt_protein_ID}}</a><br />

      <ul>
        {% for function_entry in uniprot_info.function_info %}
        <li>{{function_entry}}</li>
        {% endfor %}
      </ul>
      <h3>Gene Ontology Cell Components</h3>
      <table id="data2" class="table table-striped">
        <thead>
          <tr>
            <th>Gene Ontology ID</th>
            <th>Wikidata Label</th>
            <th>GO Evidence Codes</th>
            <th>Sample article</th>
          </tr>
        </thead>
        <tbody>
          {% for cell_component in protein_result.cell_components %}
          <tr>
            <td>
              <a target="_blank"
                href="http://amigo.geneontology.org/amigo/term/{{ cell_component.Gene_Ontology_ID }}">{{ cell_component.Gene_Ontology_ID }}</a>
            </td>
            <td>{{cell_component.functionLabel }}</td>
            <td>{{cell_component.evidence}}</td>
            <td>{{cell_component.sample_pmid}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p>
        Skipped: Subcellular localizations image (use SwissBioPics to generate), qualifiers for GO terms
      </p>
    </div>
  </div>
  <!-- /.row -->
</div>