<!-- medical_condition -->
<div class="container" id="medical_condition">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-info btn-sm btn-block mt-3" data-toggle="collapse" href="#collapse_medical_condition" role="button"
        aria-expanded="false" aria-controls="collapse_medical_condition">
        <h2> Medical Conditions for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapse_medical_condition">

      <div class="card-body">
        <p> Skipped sessions: <strong>ALL</strong></p>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>