<!-- orthologs_and_paralogs -->
<div class="container" id="orthologs_and_paralogs">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapse_orthologs_and_paralogs" role="button"
        aria-expanded="false" aria-controls="collapse_orthologs_and_paralogs">
        <h2> Orthologs and Paralogs for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapse_orthologs_and_paralogs">

      <div class="card-body">
        <p> Skipped sessions: <strong>ALL</strong></p>
      </div>
    </div>
  </div>
</div><!-- /.row -->
</div>