<!-- Pathways -->
<div class="container" id="pathways">
  <div class="card">
    <div class="card-header">
      <a class="btn btn-primary" data-toggle="collapse" href="#collapsePathways" role="button" aria-expanded="false"
        aria-controls="collapsePathways">
        <h2> Pathways for {{wikidata_result.geneLabel}} </h2>
      </a>
    </div>
    <div class="collapse" id="collapsePathways">
      <div class="card-body">

        <h3>Gene Ontology Biological Processes</h3>
        <table id="go_biological_processs_table" class="table table-striped">
          <thead>
            <tr>
              <th>Gene Ontology ID</th>
              <th>Wikidata Label</th>
              <th>GO Evidence Codes</th>
              <th>Sample article</th>
            </tr>
          </thead>
          <tbody>
            {% for biological_process in protein_result.biological_processes %}
            <tr>
              <td>
                <a target="_blank"
                  href="http://amigo.geneontology.org/amigo/term/{{ biological_process.Gene_Ontology_ID }}">{{ biological_process.Gene_Ontology_ID }}</a>
              </td>
              <td>{{biological_process.biological_processLabel }}</td>
              <td>{{biological_process.evidence}}</td>
              <td>{{biological_process.sample_pmid}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h3>WikiPathways</h3>
        <table id="wikipathways_table" class="table table-striped">
          <thead>
            <tr>
              <th>WikiPathways ID</th>
              <th>Wikidata Label</th>
            </tr>
          </thead>
          <tbody>
            {% for pathway in protein_result.wikipathways %}
            <tr>
              <td>
                <a target="_blank"
                  href="https://www.wikipathways.org/index.php/Pathway:{{ pathway.WikiPathways_ID }}">{{ pathway.WikiPathways_ID }}</a>
              </td>
              <td>{{pathway.pathwayLabel }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h3>Reactome</h3>
        <table id="reactome_table" class="table table-striped">
          <thead>
            <tr>
              <th>Reactome ID</th>
              <th>Wikidata Label</th>
            </tr>
          </thead>
          <tbody>
            {% for pathway in protein_result.reactome_pathways %}
            <tr>
              <td>
                <a target="_blank"
                  href="https://reactome.org/PathwayBrowser/#/{{ pathway.Reactome_ID }}">{{ pathway.Reactome_ID }}</a>
              </td>
              <td>{{pathway.pathwayLabel }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h2>Additional Pathway Information</h2>
        <p>Pathway Commons: <a target="_blank"
            href="https://apps.pathwaycommons.org/search?q={{ids.UniProt_protein_ID.symbol}}">{{ ids.UniProt_protein_ID.symbol}}</a>
        </p>
        <p>
          Skipped: PathCards super pathways, Pathways by: Sino, Boster, PubChem, PharmGKB, GeneGo (Thomson Reuters), R&D
          Systems, Tocris, Qiagen, Cell Signaling Technology, GeneTex



        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
</div>