<!-- PROTEINS -->
<div class="container" id="proteins">
  <div class="card">
    <div class="card-header">
      <h2> Proteins for {{wikidata_result.geneLabel}} </h2>
    </div>
    <div class="card-body">
      <h3>Protein details for TP53 Gene </h3>
      Uniprot ID: <a href="{{ids.UniProt_protein_ID.url}}" target="_blank">{{ids.UniProt_protein_ID.symbol}}</a> <br>
      Wikidata Label: {{wikidata_result.proteinLabel}}

      <h3>Protein attributes for TP53 Gene </h3>
      Protein length: <strong>{{wikidata_result.protein_length}}</strong> amino acids <br>
      Protein mass: <strong>{{wikidata_result.protein_mass}}</strong> daltons


      <h3>Structural information</h3>
      <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>PDBe</th>
            <th>RCSB PDB</th>
            <th>Proteopedia</th>

          </tr>
        </thead>
        <tbody>
          {% for pdb_id in protein_result.pdb_ids %}
          <tr>
            <td> <a target="_blank" href="https://www.ebi.ac.uk/pdbe/entry/pdb/{{ pdb_id.id }}"
                title="Details in PDBe">{{
                pdb_id.id }}</a></td>
            <td> <a target="_blank" href="https://www.rcsb.org/structure/{{ pdb_id.id }}" title="Details in RCSB-PDB">{{
                pdb_id.id }}</a></td>
            <td> <a target="_blank" href="https://proteopedia.org/wiki/index.php/{{ pdb_id.id | lower}}"
                title="Details in Proteopedia">{{
                pdb_id.id }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h3>AlphaFold predicted structure</h3> <a
        href="https://alphafold.ebi.ac.uk/entry/{{protein_result.UniProt_protein_ID}}"
        target="_blank">{{protein_result.UniProt_protein_ID}}</a>

      <h3> Protein isoforms </h3>
      <p>
        {% for isoform in uniprot_info.isoforms %}
        <a href="https://www.uniprot.org/uniprotkb/{{isoform.id}}/entry" target="_blank">{{isoform.id}} </a>
        {% endfor %}
      </p>

      <h3> NeXtProt proteomics information </h3>
      <a href="https://www.nextprot.org/entry/{{protein_result.UniProt_protein_ID}}/proteomics"
        target="_blank">{{protein_result.UniProt_protein_ID}}</a>


      <h3> Other identifiers </h3>
      <h4>ENSEMBL Proteins</h4>
      <p>
        {% for id in protein_result.ensembl_ids %}
        <a href="https://www.ensembl.org/Homo_sapiens/protview?peptide={{id}}" target="_blank">{{id}} </a>
        {% endfor %}
      </p>
      <h4>RefSeq Proteins Ids</h4>
      <p>
        {% for id in protein_result.refseq_ids %}
        <a href="https://www.ncbi.nlm.nih.gov/protein/{{id}}?report=GenPept" target="_blank">{{id}} </a>
        {% endfor %}
      </p>

      <h2>Post-translational modifications information from UniProt</h2>
      <a href="https://www.uniprot.org/uniprotkb/P04637/{protein_result.UniProt_protein_ID}}/entry#ptm_processing"
        target=" _blank">{{protein_result.UniProt_protein_ID}}</a><br>
      <ul>
        {% for ptm_entry in uniprot_info.ptm_info %}
        <li>{{ptm_entry}} </li>
        {% endfor %}

      </ul>
      <p>Skipped information in relation to Gene Cards: Cofactor (not represented on Wikidata): Quaternary structure
        (too much noise), Miscellaneous, OCA protein structure, link to Protein Expression for the gene,
        -related product links (not clear how to generate)

      </p>
      <p>Added information in relation to Gene Cards: </p>
    </div>
  </div><!-- /.row -->
</div>
<script>
  $(document).ready(function () {
    $('#data').DataTable({
      pageLength: 5,
    });
  });
</script>