{% extends "layout.html" %}



{% block title %}
Cell Type
{% endblock %}


{% block main %}

{% if wikidata_result %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">{{wikidata_result.cellLabel}}</h1>
  </div>
</div><!-- /.jumbotron -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top second-nav">
  <a class="navbar-brand" href="#">Go to session</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#aliases">Aliases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#summaries">Summaries</a>
      </li>
    </ul>
  </div>
</nav>
<br>
{% include 'public/cell/aliases.html' %}

{% include 'public/cell/summaries.html' %}
{% include 'public/cell/markers.html' %}

<script>
  $(document).ready(function () {

    var myStringArray = ["#data", "#data2", "#go_biological_processs_table",
      "#go_cell_components_table", "#wikipathways_table", "#reactome_table",
      "#complex_portal_table"
    ];
    var arrayLength = myStringArray.length;
    for (var i = 0; i < arrayLength; i++) {
      $(myStringArray[i]).DataTable({
        pageLength: 5,
      });
    }
  });
</script>
{% else %}
<div class="row contasiner">
  </br>
</div>
<div>
  <div class="col-md container">
    {{ cell_not_found_message|safe}}

    <form name="cell" method="POST" action="{{ url_for('cell') }}">
      <div class="form-group">
        <input name="cell" id="cell"></input>
        <button class="btn btn-info btn-sm btn-block mt-3">Send</button>
      </div>
    </form>
  </div>

  <script>
    $('#cell').selectize({
      delimiter: ',',
      placeholder: "Select your cell type of interest",
      maxItems:1,
      persist: false,
      valueField: 'id',
      labelField: 'name',
      searchField: ['name', 'id'],
      options: {{ cells | safe  }},
    });
  </script>

</div>

{% endif %}
{% endblock %}