{% extends "layout.html" %}



{% block title %}
Gene
{% endblock %}


{% block main %}

{% if wikidata_result %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">{{wikidata_result.geneLabel}}</h1>
  </div>
</div><!-- /.jumbotron -->

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top second-nav">
  <a class="navbar-brand" href="#">Go to session</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#aliases">Aliases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#summaries">Summaries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#genomics">Genomics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#proteins">Proteins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#domains">Domains</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#functions">Functions</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#localizations">Localizations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pathways">Pathways</a>
      </li>
    </ul>
  </div>
</nav>
{% include 'public/gene/aliases.html' %}

{% include 'public/gene/summaries.html' %}

{% include 'public/gene/genomics.html' %}

{% include 'public/gene/proteins.html' %}

{% include 'public/gene/domains.html' %}

{% include 'public/gene/functions.html' %}

{% include 'public/gene/localizations.html' %}

{% include 'public/gene/pathways.html' %}


<script>
  $(document).ready(function () {
    $('#data').DataTable({
      pageLength: 5,
    });

    $('#data2').DataTable({
      pageLength: 5,
    });

    $('#go_biological_processs_table').DataTable({
      pageLength: 5,
    });

    $('#go_cell_components_table').DataTable({
      pageLength: 5,
    });
  });
</script>
{% else %}
<div class="row contasiner">
  </br>
</div>
<div>
  <div class="col-md container">

    <form name="gene" method="POST" action="{{ url_for('gene') }}">


      <label for="gene">Select a gene:</label>
      <select name="gene" class="form-control" id="gene"></select>
      <button class="btn btn-primary">Send</button>

      <br>
      <br>
      <br>
    </form>
  </div>

  <script>
    $('#gene').selectize({
      delimiter: ',',
      persist: false,
      valueField: 'name',
      labelField: 'name',
      searchField: ['name', 'email'],
      options: {{  genes | safe }},
    });
  </script>

</div>

{% endif %}
{% endblock %}