{% extends "layout.html" %}



{% block title %}
Gene
{% endblock %}


{% block main %}

{% if wikidata_result %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">{{wikidata_result.geneLabel.value}}</h1>
  </div>
</div><!-- /.jumbotron -->


{% include 'public/gene/aliases.html' %}

{% include 'public/gene/summaries.html' %}

{% include 'public/gene/genomics.html' %}

{% include 'public/gene/proteins.html' %}

{% else %}
<div class="row container">
  <h4>Select a gene</h4>
  </br>
</div>
<div>
  <div class="col-md container">

    <form name="gene" method="POST" action="{{ url_for('gene') }}">

      <title>selectize</title>


      <label for="gene">Selectize</label>
      <select name="gene" class="form-control" id="gene"></select>
      <button class="btn btn-primary">Send</button>

      <br>
      <br>
      <br>
    </form>
  </div>

  <script>
    $('#gene').selectize({
      delimiter: ',',
      persist: false,
      valueField: 'name',
      labelField: 'name',
      searchField: ['name', 'email'],
      options: {{ genes | safe}},
    });
  </script>
</div>

{% endif %}
{% endblock %}