{% extends "layout.html" %}
{% block content %}

{% if wikidata_result %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">{{wikidata_result.geneLabel.value}}</h1>
  </div>
</div><!-- /.jumbotron -->


{% include 'public/gene/aliases.html' %}

{% include 'public/gene/summaries.html' %}

{% include 'public/gene/genomics.html' %}

{% else %}
<h2>Add a valig HGNC gene symbol to the URL</h2>
{% endif %}
{% endblock %}